<h1>Genres</h1>
<p class="user-p">Find a NFT based on your personal style through our long array of Genres</p>

<%# Below shows the index page of all genres, through which is linked the show page of each individual genre %>
<div class="all-genres">
<% @genre.each do |genre| %>
    <%= link_to genre_path(genre.id) do %>
    <div class="genres">
        <%= cl_image_tag genre.genre_picture, alt:genre.name, class:"genre-pic" %>
        <h4><%= genre.name %></h4>
   </div>
    <br>
<% end %>
<% end %>
</div>

