<h1>Genres</h1>
<p>Find a NFT based on Genre</p>

<ul>
<% @genre.each do |genre| %>
    <%= cl_image_tag genre.genre_picture, alt:genre.name, class:"GP" %>
   <a> <%= link_to genre.name, genre_path(genre.id) %></a>
    <br>
<% end %>
</ul>

