<h1>Genres</h1>
<p>Find a NFT based on Genre</p>

<div class="all-genres">
<% @genre.each do |genre| %>
    <%= link_to genre_path(genre.id) do %>
    <div class="genres">
    <%= cl_image_tag genre.genre_picture, alt:genre.name, class:"genre-pic" %>
   <a><%= genre.name %></a>
   </div>
    <br>
<% end %>
<% end %>
</div>

