<h2><%= @genre.name %></h2>

<div class="show-all">
    <% @genre.works.each do |work| %>
        <%= link_to work_path(work.id) do %>
        <div class="show">
        <%= work.name %>
        <%= cl_image_tag work.picture, alt:work.name, class: 'work-collection' %>
        </div>
        <% end  %>
    <% end  %>
</div>