<h1>Users Index</h1>

<p>Find Users and there respective collections on Sale</p>

<ul>
<% @user.each do |user| %>
<li>
    <%= link_to user.name, user_path(user.id) %>
    <br>
    <%= image_tag user.profile_picture, alt:user.name, class:'DP' %>
</li>

<% end %>
</ul>

