<h1>Collections</h1>

<p>Find an array of artist and user collections, follow there accounts and see there latest creations. </p>

<ul>
<% @user.each do |user| %>
    <a><%= link_to user.name, user_path(user.id) %></a>
    <br>
    <%= cl_image_tag user.profile_picture, alt:user.name, class:'DP' %>
<% end %>
</ul>

