<h1>Sign Up </h1>

<% if @user.errors.any?  %>
<strong>Please correct the following errors:</strong>
<ul>
    <% @user.errors.full_messages.each do |e| %>
<li>
    <%= e %>
</li>
<% end %>
</ul>
<% end %>

<%= render partial: 'form' %>