body{
background-color: rgb(135, 189, 171);

}
.NFT{
    width: 30vw;
    height: 40vh;
}
.DP{
    width: 15vw;
    height: 15vh;
}
.Sellers-NFT{
    width: 30vw;
    height: 40vh;
}
.GP{
    width: 12vw;
    height: 12vh
}
.Genre-NFT{
    width: 30vw;
    height: 40vh;  
}